.page-title {
  padding-top: 0;
  font-family: $font-title;
}
.container {
  min-height: calcheight($navbar-height, 100vh);
}
.band-members {
  display: block;
}
.band-members-item {
  display: inline-block;
  width: 30%;
  height: 70vh;
}
.band-members-image {
  position: relative;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.band-members-link {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  font-family: $font-title;
  font-size: 8em;
  color: transparent;
  text-align: center;
  vertical-align: middle;
  
  &:hover {
    color: $blanc;
    text-decoration: none;
    background-color: $verd-clar;
  }
}

.band-members-image.micky {
  background-image: url("../../assets/images/micky.jpg");
}
.band-members-image.david {
  background-image: url("../../assets/images/david.jpg");
}
.band-members-image.oscar {
  background-image: url("../../assets/images/oscar.jpg");
}

@media (max-width: 670px) {
  .band-members-item {
    width: 100%;
    height: auto;
  }
  .band-members-image {
    height: 80vh;
  }
}

@supports (display: flex) {
  .band-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .band-members-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
