.formulario-contacto--input {
  margin-bottom: .5em;
  background: $verd-clar;
}
.formulario-contacto--submit {
  position: relative;
  display: block;
  padding: .5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: $font-title;
  font-size: 1.5em;
  color: $blanc;
  background-color: $negre;
  border: .1em solid $verd-clar;

  @include transition(transform .2s);

  &:hover {
    color: $negre;
    text-decoration: none;
    background-color: $verd-clar;
    border: .1em solid $negre;
    @include transform(scale(1.2));
    @include transition(transform .2s);
  }
}

