$font-title: "Mansalva", cursive;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;
$negre: #000;
$blanc: #fff;
$verd-clar: #43bf0d80;
$blau-fost: #020873;
$marro: #80320f;
$navbar-height: 8vh;

$theme-colors: (
  "primary": $blau-fost,
  "dark": $negre 
);
