$font-title: "Bangers", cursive;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;
$blanc: #fff;
$negre: #000;
$grisclar: #eee;
$grisfosc: #ccc;
$verd-clar: #43bf0d80;
$verd-fost: #184008;
$marro: #80320f;
$navbar-height: 8vh;

$theme-colors: (
  "primary": $verd-fost,
  "dark": $negre 
);
